@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.left {
	float:left;
}
.right {
	float:right;
}

.div-logos {
	padding: 50px;
}

.inFrame {
	padding: 80px; -->
}

.yearbook {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
	padding: 150px;
}

.profile {
	text-align: center;
}

.titleSubText {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	letter-spacing: 5px;
	color: #ffffff;
}

.titleYear {
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	font-weight: 600;
	letter-spacing: 20px;
	color: #ffe363;
}

.container {
	background: #30404c;
	height: 500px;
	margin: 50px;
	text-align: center;
	padding: 50px;
}

.imgProfile {
    border-radius: 50%;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #000000;
}

.personName{}

.personSpe{}
